<div class="row pt-4">
    <div class="col-md-5">
        <div class="card card-body pt-4">
            <h3 class="text-center"><b>Create book</b></h3>           
            <form [formGroup]="form" (ngSubmit)="addBook($event)">

                <div class="form-group">
                    <input type="text" class="form-control" formControlName="name" [(ngModel)]="book.name" placeholder="Book name">
                    <div *ngIf="form.get('name').errors && form.get('name').dirty">
                        <p class="text-center mt-1" *ngIf="form.get('name').hasError('required')">Este campo es obligatorio!</p>
                        <p class="text-center mt-1" *ngIf="form.get('name').hasError('maxlength')">El nombre es muy largo!</p>                             
                    </div>                  
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" formControlName="year" [(ngModel)]="book.year" placeholder="year">
                    <div *ngIf="form.get('year').errors && form.get('year').dirty">
                        <p class="text-center mt-1" *ngIf="form.get('year').hasError('required')">Este campo es obligatorio!</p>
                        <p class="text-center mt-1" *ngIf="form.get('year').hasError('max')">El año es invalido!</p>      
                    </div> 
                </div>
                
                <div class="form-group">                   
                    <select [ngModelOptions]="{standalone: true}" 
                    [(ngModel)]="book.author" class="form-control" 
                    FormControlName="author" (change)="changeSuit($event)">                       
                        <option *ngFor="let author of authorList$ | async" [value]="author.name">
                              {{author.name}}
                        </option>
                    </select>
                    <div *ngIf="form.get('author').invalid && form.dirty" class="error">
                        <p *ngIf="form.get('author').hasError('invalid')">Profile required.</p>
                    </div>                   
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" formControlName="category" [(ngModel)]="book.category" placeholder="Category">
                    <div *ngIf="form.get('category').errors && form.get('category').dirty">
                        <p class="text-center mt-1" *ngIf="form.get('category').hasError('required')">Este campo es obligatorio!</p>      
                    </div> 
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" formControlName="editorial" [(ngModel)]="book.editorial" placeholder="Editorial">
                    <div *ngIf="form.get('editorial').errors && form.get('editorial').dirty">
                        <p class="text-center mt-1" *ngIf="form.get('editorial').hasError('required')">Este campo es obligatorio!</p>      
                    </div> 
                </div>

                <div class="form-group">
                    <textarea class="form-control" formControlName="description" [(ngModel)]="book.description" placeholder="Description..."></textarea>
                    <div *ngIf="form.get('description').errors && form.get('description').dirty">
                        <p class="text-center mt-1" *ngIf="form.get('description').hasError('required')">Este campo es obligatorio!</p>
                        <p class="text-center mt-1" *ngIf="form.get('description').hasError('maxlength')">La descripción es muy larga!</p>           
                    </div> 
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" formControlName="quantity" [(ngModel)]="book.quantity" placeholder="Quantity">
                    <div *ngIf="form.get('quantity').errors && form.get('quantity').dirty">
                        <p class="text-center mt-1" *ngIf="form.get('quantity').hasError('required')">Este campo es obligatorio!</p>
                        <p class="text-center mt-1" *ngIf="form.get('quantity').hasError('pattern')">Este!</p>      
                    </div> 
                </div>

                <div class="form-group">
                    <input type="number" class="form-control" formControlName="price" step="0.01" [(ngModel)]="book.price" placeholder="Price $">
                    <div *ngIf="form.get('price').errors && form.get('price').dirty">
                        <p class="text-center mt-1" *ngIf="form.get('price').hasError('required')">Este campo es obligatorio!</p>
                        
                    </div> 
                </div>
                <!-- <div class="form-group">
                    <input type="number" class="form-control" formControlName="image"  [(ngModel)]="book.img" placeholder="img">
                </div> -->
                <div class="text-center">
                    <button [disabled]="form.invalid" type="submit" class="btn btn-dark btn-block">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Save
                    </button>
                    <button type="reset" class="btn btn-warning btn-block text-white">Reset
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                </div>               
            </form>
        </div>
    </div>
    <div class="col-md-7">
        <app-books></app-books>
    </div>    
</div>
