.mat-card{
    max-width: 300px;
    margin: 50px auto;
}

.mat-card-content{
    // width: 300px;
    padding: 10% 20% 1% 20%;
   
}

// .main-div{
//     height: 80vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .main-div{
//     margin-top: 40px;
// }

