<form [formGroup]="form" (ngSubmit)="login($event)">  
  <div class="main-div">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>       
        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <input placeholder="Email" formControlName="email" matInput type="email">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs">
            <mat-form-field>
              <input placeholder="password" formControlName="password" matInput type="password">
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="text-center">
        <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">Ingresar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>

<!-- <div class="main-div">
  <mat-card class="example-card">
    <mat-card-header>
      <div class="login-box-header">
        <mat-card-title>Login</mat-card-title>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" [formGroup]="form" (ngSubmit)="login($event)">
        
              
            <div class="row">
              <div class="col-xs">
                <mat-form-field>
                  <input placeholder="Email" formControlName="email" matInput type="email">
                </mat-form-field>
              </div>
            </div>   
            <div class="row">
              <div class="col-xs">
                <mat-form-field>
                  <input placeholder="password" formControlName="password" matInput type="password">
                </mat-form-field>
              </div>
            </div>
                 
        
      </form>
    </mat-card-content>
    <mat-card-actions class="text-center">
      <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit">Ingresar</button>
    </mat-card-actions>
  </mat-card>
   -->
