<div *ngIf="books.length > 0; else nobooks">
    <div class="card card-body">
        <div class="sketch">
            <h3><b>Lista de libros</b></h3>
            <h4>total: {{totalBooks}}</h4>            
        </div>      
        <table class="table table-sm table-hover">
            <thead class="thead-light">
                <th class="text-center"></th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Año</th>
                <th class="text-center">Autor</th>
                <th class="text-center">Acción</th>
            </thead>
            <tbody>
                <tr *ngFor="let book of books; index as i">
                    <td class="text-center">{{i + 1}}</td>
                    <td class="text-center">{{book.name}}</td>
                    <td class="text-center">{{book.year}}
                        <div class="cont-form-edit" *ngIf="editing && editingBook.id == book.id">
                            <form (ngSubmit)="updateBook()">
                                <div class="form-group">
                                    <label>Nombre:</label>
                                    <input type="text" class="form-control" name="name" [(ngModel)]="editingBook.name">
                                </div>
                                <div class="form-group">
                                    <label>Año:</label>
                                    <input type="number" class="form-control" name="year"
                                        [(ngModel)]="editingBook.year">
                                </div>
                                <div class="form-group">
                                    <label>Autor:</label>
                                    <select [ngModelOptions]="{standalone: true}" 
                                    [(ngModel)]="book.author" class="form-control" 
                                    FormControlName="author" (change)="changeSuit($event)">                       
                                        <option *ngFor="let author of authorList$ | async" [value]="author.name">
                                              {{author.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Categoria:</label>
                                    <select [ngModelOptions]="{standalone: true}" 
                                    [(ngModel)]="book.category" class="form-control" 
                                    FormControlName="category" (change)="selectCategory($event)">                       
                                        <option *ngFor="let category of categoryList$ | async" [value]="category.name">
                                              {{category.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Editorial:</label>
                                    <select [ngModelOptions]="{standalone: true}" 
                                    [(ngModel)]="book.editorial" class="form-control" 
                                    FormControlName="editorial" (change)="selectEditorial($event)">                       
                                        <option *ngFor="let editorial of editorialList$ | async" [value]="editorial.name">
                                              {{editorial.name}}
                                        </option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Descripción:</label>
                                    <textarea class="form-control" name="description"
                                        [(ngModel)]="editingBook.description"></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Cantidad:</label>
                                    <input type="text" class="form-control" name="quantity"
                                        [(ngModel)]="editingBook.quantity">
                                </div>
                                <div class="form-group">
                                    <label>Precio:</label>
                                    <input type="number" class="form-control" name="price" step="0.01"
                                        [(ngModel)]="editingBook.price">
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-success btn-block">Update</button>
                                </div>
                            </form>
                        </div>
                    </td>
                    <td class="text-center">{{book.author}}</td>
                    <td class="text-center">
                        <a class="btn btn-secondary text-white buton" (click)="editBook($event, book)">
                            <i class="fa fa-edit" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-danger text-white buton" (click)="deleteBook($event, book)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </td>                                      
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #nobooks>
    <h3 class="text-center" style="color: red">No hay productos en la db para listar.</h3>
</ng-template>
  

